<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "actiTIME Test Automation ">


<listeners>
		<listener class-name="com.actitime.qa.extentreportlistener.ExtentReporterNG" />
	</listeners>

   <test name = "actiTime Test Automation Testcases">
      <classes>
         <class name = "com.actitime.qa.testcases.HomePageTest" /><class name="com.actitime.qa.testcases.LogonPageTest" />
         
         <class name="com.actitime.qa.testcases.UsersPageTest"></class>
         <class name="com.actitime.qa.testcases.ReportsPageTest"></class></classes>
   </test>


</suite>